<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>scada</title>
    <link rel="stylesheet" type="text/css" href="Content/base.css">
    <link rel="stylesheet" href="Content/bootstrap.min.css">
    <link href="Content/jquery.snippet.min.css" rel="stylesheet">
    <style>
        canvas {
            width: 100%;
        }

        .jtopo_toolbar {
            width: 100%;
        }
    </style>
</head>

<body>
    <ul id="myTab" class="nav-menu">
        <li class="active">
            <a href="#home" data-toggle="tab">
                设备监控
            </a>
        </li>
        <li>
            <a href="#serverMonitor" data-toggle="tab">服务端监控</a>
        </li>
        <li id="goodsMenu">
            <a href="#locationMonitor" data-toggle="tab">货位监控</a>
        </li>
        <li>
            <a href="#div_config" tabindex="-1" data-toggle="tab">系统配置</a>
        </li>
        <li>
            <a href="#div_help" tabindex="-1" data-toggle="tab">帮助文档</a>
        </li>
    </ul>
<!--test-->
    <section id="commonVue">
        <div class="login-btn" @click="showLoginDiv = true">
            <button class="btn btn-primary"> 登录</button>
        </div>
        <div class="hide-menu-btn" @click="showMenu = !showMenu">
            <button class="btn btn-primary">{{showMenu?'隐藏菜单':'展开菜单'}} </button>
        </div>
        <section class=" panel panel-default " id="logindiv" v-show="showLoginDiv">
            <div class="panel-heading info-modal-title">登录</div>
            <div class="panel-body ">
                <ul>
                    <li>
                        <label>用户名</label>
                        <input id="loginName" class="form-control" v-model="username" />
                    </li>
                    <li>
                        <label>密码</label>
                        <input id="passWord" class="form-control" v-model="password" />
                    </li>
                    <li style="margin-top:20px;">
                        <button class="btn btn-primary" @click="login">确定</button>
                        <button class="btn btn-default" @click="showLoginDiv = false">取消</button>
                    </li>
                </ul>
            </div>
        </section>

    </section>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active " id="home">
            <div id="content">
                <canvas id="canvas"></canvas>
            </div>
            <section id="homeVue">
                <section class=" panel panel-default info-modal " v-show="showEquipmentinfo" :style="{left:equipmentinfoXY[0]+'px',top:equipmentinfoXY[1]+'px'}">
                    <div class="panel-heading info-modal-title">设备号:{{stationData.DeviceID}}
                        <span @click="close"> X</span>
                    </div>
                    <div class="panel-body ">
                        <div class="info-modal-content">
                            <div style="width: 300px;">
                                <h3>当前信息</h3>
                                <ul class="modify-infoNow">
                                    <li v-for="(val,key) in copyEquipmentinfo">
                                        <span> {{key | en2zh}}:</span>
                                        <i>{{val | other2zh(key)}}</i>
                                    </li>
                                </ul>

                            </div>
                            <div style="width: 320px;">
                                <h3>修改信息</h3>

                                <ul class="modify-info">
                                    <template v-if="stationData.DeviceType=='STA'">
                                        <li v-for="(val,key) in equipmentinfo">
                                            <span> {{key | en2zh}}:</span>
                                            <input type="text" class="form-control" v-model="equipmentinfo[key]" v-if="key !=='GoodsType' ">
                                            <select class="form-control" v-else v-model="equipmentinfo[key]" style="width:160px">
                                                <option :value="key" v-for="(val,key) in GOODSTYPE">{{val.name}}</option>
                                            </select>
                                        </li>
                                    </template>

                                    <template v-if="stationData.DeviceType=='SRM'">
                                        <li>
                                            <span> 工位:</span>
                                            <select class="form-control" style="width:160px !important" v-model="SRMInfo.LoadNum">
                                                <option value="">请选择工位</option>
                                                <option value="1">工位1</option>
                                                <option value="2">工位2</option>
                                            </select>

                                        </li>
                                        <li>
                                            <span> 命令:</span>
                                            <select class="form-control" style="width:160px " v-model="SRMInfo.CommandType">
                                                <option value="">无</option>
                                                <option value="1">移动</option>
                                                <option value="2">取放货</option>
                                                <option value="3">召回</option>
                                                <option value="11">仅取货</option>
                                                <option value="4">取消任务</option>
                                                <option value="12">消防任务（不启动灭火）</option>
                                                <option value="13">消防任务（启动灭火）</option>
                                                <option value="14">消防任务（避让）</option>
                                                <option value="15">完成任务</option>
                                                <option value="16">WCS模式切换（手自动）</option>
                                            </select>
                                        </li>
                                        <li>
                                            <span> 任务号:</span>
                                            <input type="text" class="form-control" v-model="SRMInfo.TaskNum">
                                        </li>
                                        <li>
                                            <span> 托盘条码:</span>
                                            <input type="text" class="form-control" v-model="SRMInfo.BarCode">
                                        </li>
                                        <li>
                                            <span> 起始地址:</span>
                                            <input type="text" class="form-control" v-model="SRMInfo.SourceAddress">
                                        </li>
                                        <li>
                                            <span> 目标地址:</span>
                                            <input type="text" class="form-control" v-model="SRMInfo.TargetAddress">
                                        </li>
                                    </template>

                                </ul>

                            </div>
                            <div style="width: 243px">
                                <h3>功能按钮</h3>
                                <div>
                                    <button class="btn btn-primary until-btn " v-for="item in stationButton" @click="actionButton(item)">{{item | button2zh}}</button>
                                </div>
                                <div v-show="stationData.DeviceType=='SRM'">
                                    <button class="btn btn-primary until-btn" @click="sendSRMInfo">修改信息</button>
                                </div>
                                <div v-show="stationData.DeviceType=='SRM'">
                                    <button class="btn btn-primary until-btn" @click="sendSRMInfo">其他按钮</button>
                                </div>
                            </div>
                        </div>
                        <div class="info-modal-alert">
                            <h5>异常信息</h5>
                            <div>{{stationData.Warm}}</div>
                            <div>
                                <button @click="closeAudio" class="btn btn-primary">关闭报警音</button>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

        </div>
        <div class="tab-pane " id="serverMonitor">
            <canvas id="canvasServer" style="cursor: default;"></canvas>
            <div class="snippet-container" style="margin-top:3px;;">
                <div class="sh_acid snippet-wrap" style="display: none;">
                    <div class="snippet-menu sh_sourceCode" style="display:none;">
                        <pre><a class="snippet-copy sh_url" href="#" style="display: none;">copy</a><a class="snippet-text sh_url" href="#">text</a><a class="snippet-window sh_url" href="#">pop-up</a></pre>
                    </div>

                    <pre class="snippet-textonly sh_sourceCode" style="display:none;">					
	                            </pre>
                    <div class="sh_sourceCode snippet-hide">
                        <pre><a href="#" class="snippet-revealed snippet-toggle sh_url">Collapse Code</a></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane  " id="locationMonitor">
            <section class="goods-toolbar" id="goodsTool">
                <button class="btn btn-primary" @click="zoomCenter">居中</button>
                <button class="btn btn-primary" @click="zoomOut">放大</button>
                <button class="btn btn-primary" @click="zoomIn">缩小</button>
                <input type="text" v-model="keyword" class="form-control" style="width: 100px" placeholder="货架编号" />
                <button @click="find" class="btn btn-primary">查询</button>
                <div style="height: 40px;border-right: 1px solid #eeeeee"></div>
                <select name="" id="" class="form-control" style="width: 100px" v-modle="region_Zone">
                    <option value="1">区域</option>
                    <option value="2">高温浸润区</option>
                    <option value="3">常温静置区</option>
                    <option value="4">高温老化区</option>                  
                </select>

                <select name="" id="" class="form-control" style="width: 100px" v-modle="region_SCNum">
                    <option value="5">设备编号</option>
                    <option value="SC01">SC01</option>
                    <option value="SC02">SC02</option>
                    <option value="SC03">SC03</option>
                </select>

                <select name="" id="" class="form-control" style="width: 100px" v-modle="region_Gongyi">
                    <option value="6">工艺名称</option>
                    <option value="a">高温浸润</option>
                    <option value="b">高温老化</option>
                    <option value="c">一次常温静置</option>
                    <option value="d">二次常温静置</option>
                    <option value="e">化成</option>
                </select>
                <button class="btn btn-primary" @click="cutSelect">切换</button>
                <section class=" panel panel-default info-modal " v-show="showModal" :style="{left:modalXY[0]+'px',top:modalXY[1]+'px'}">
                    <div class="panel-heading">货位信息</div>
                    <div class="panel-body ">
                        <div class="info-modal-content">
                            <div>
                                <ul class="modify-info">
                                    <li v-for="(val,key) in infoData">
                                        <span>{{key | en2zh}}:</span> {{val}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                按钮信息
                            </div>
                        </div>

                    </div>
                </section>
            </section>
            <section class="config-b ">
                <canvas id='goodsCanvas'></canvas>
            </section>
        </div>
        <!-- 配置界面开始 -->
        <div class="tab-pane" id='div_config'>
            <section class="config-t " id='configVue'>
                <ul class="img-list " id="createItem ">
                    <li data-type="convery-t " @click="createNode( 'convery-t') ">
                        <img src=" Content/img/guntongHs.png " width="80px " alt=" ">
                    </li>
                    <li data-type="convery-v " @click="createNode( 'convery-v') ">
                        <img src=" Content/img/guntongSs.png " width="80px " alt=" ">
                    </li>
                    <li data-type="srm " @click="createNode( 'srm') ">
                        <img src=" Content/img/sc.png " width="80px " alt=" ">
                    </li>
                    <li data-type="robot " @click="createNode( 'robot') ">
                        <img src=" Content/img/robot.png " width="80px " alt=" ">
                    </li>
                    <li data-type="robot " @click="createNode('goods') ">
                        <img src=" Content/locationImg/_0.png " width="40px " alt=" ">
                    </li>
                </ul>

                <button class="btn btn-primary " id="commitConfig " @click="commit ">提交配置</button>
                <!-- <div id="copyNode "></div> -->
                <ul id="configContextmenu " class="contextmenu " v-show="contextmenu " :style="{left:contextmenuXY[0]+
                    'px',top:contextmenuXY[1]+ 'px'} ">
                    <li class="input-group ">
                        <input type="text " class="form-control " style="width: 100px " placeholder="输入新命名 " v-model="rename ">
                        <button class="btn btn-primary " @click="renameNode " style="margin-left:10px">重命名</button>
                    </li>
                    <li class="input-group ">
                        <input type="number " class="form-control " style="width: 100px" placeholder="输入复制数量
                    " v-model="cloneNum ">
                        <button class="btn btn-primary" @click="clone" style="margin-left:10px">复制</button>
                    </li>
                    <li @click="changeDir">
                        切换方向
                    </li>
                    <li @click="delNode">
                        删除
                    </li>
                </ul>
            </section>
            <section class="config-b ">
                <canvas id='configCanvas'></canvas>
            </section>

        </div>
        <!-- 配置界面结束 -->
        <div class="tab-pane" id="div_help">
            <p>
                帮助页面
            </p>
        </div>
        <div class="tab-pane" id="taskManage "></div>
    </div>
    </div>
    <audio src="Content/audio.mp3" style="opacity: 0;" id="audio"></audio>
    <script type="text/javascript " src="Scripts/jquery-1.10.2.min.js "></script>
    <script src="Scripts/bootstrap.min.js "></script>
    <script src="Scripts/vue.dev2.0.js "></script>
    <script src="Scripts/jtopo-0.4.8-min.js "></script>
    <script src="Scripts/toolbar.js "></script>
    <script src="Scripts/page/configjson.js "></script>
    <script src="Scripts/page/config.js "></script>
    <script src="Scripts/page/setting.js "></script>
    <script src="Scripts/page/goods.js "></script>
    <script src="Scripts/page/wcs.js "></script>
    <script src="Scripts/page/main.js"></script>

</body>

</html>