/* 页眉、页脚-- 开始*/
#global-nav {
    height: 34px;
    background: url(../img/jq-global-nav.png) repeat-x 0 bottom #1b1b1b;
    border-bottom: 1px solid #7acef4;
}

/* 导航 */
.head_nav_second {
    width: 100%;
    height: 53px;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 10px 10px 0 0;
    border-right: 1px solid rgba(2, 2, 2, 0.28);
    border-left: 1px solid rgba(2, 2, 2, 0.28);
    border-top: 1px solid rgba(250, 250, 250, 0.27);
    -webkit-box-shadow: 0 0 3px rgba(1, 1, 1, 0.7);
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#999999');
}
.head_nav_second .menu {
    margin: 0;
    float: left;
    width: 70%;
    margin-top: 16px;
    margin-left: 20px;
}
.head_nav_second .menu li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    list-style-image: none;
}
.head_nav_second .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.76);
}
.head_nav_second .menu li a:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1) 0 1px 0;
}

/* 页脚 */
.footer {
    height: 120px;
    background-image: url(../img/bg-footer-noise.jpg);
    background-repeat: repeat-x, repeat;
}
/* 页眉、页脚-- 结束*/

/* 首页--- 开始*/
/* 特性展示 */
.head_nav_thrid {
    height: 243px;
    width: 100%;
    float: left;
    background-image: url(../img/dark-grey-tile.png);
    line-height: 20px;
    color: #666;
}

.head_nav_thrid h3 {
    color: #7acef4;
    margin-bottom: 0.5em;
}

.head_nav_thrid p {
    font-size: 0.8em;
    line-height: 1em;
    padding: 0;
}

.features {
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 40px;
}
.feature-box {
    float: left;
    width: 200px;
    margin-right: 50px;
}
.features-box p {
    font-size: 0.8em;
    line-height: 1em;
    padding: 0;
}
.feature-download span.download {
    float: none;
    background: url('../img/download.png') 0px 0px;
    width: 44px;
    height: 37px;
    display: inline-block;
    margin-right: 0.5em;
}
.feature-download {
    width: 350px;
    height: 138px;
    float: right;
}
.downbutton {
    text-align: center;
    text-decoration: none;
    line-height: 0.8em;
    padding: 0 0 0.5em 0;
    font-size: 2em;
    display: block;
    color: #fff !important;
    width: 100%;
    height: 90px;
    background-color: #d18f4f;
}
.downbutton div {
    padding-top: 20px;
}
.feature-download .more {
    text-align: left;
}
.feature-download .more a {
    color: #b3b3b3;
}
.center-txt {
    color: #ccc;
    text-align: center !important;
}
.feature-box-image {
    margin: 0 auto 1em auto;
    width: 120px;
    height: 107px;
    overflow: hidden;
}
.lightweight-footprint .feature-box-image {
    background: url('../img/feature-sprites.png') 0px 0px no-repeat;
}
.css3-compliant .feature-box-image {
    background: url('../img/feature-sprites.png') -139px 0px no-repeat;
}
.cross-browser .feature-box-image {
    background: url('../img/feature-sprites.png') -278px 0px no-repeat;
}

/* 首页内容 */
.main_content {
    text-align: left;
    height: 1400px;
    background-color: white;
    border-right: 1px solid rgba(2, 2, 2, 0.28);
    border-left: 1px solid rgba(2, 2, 2, 0.28);
    border-top: 1px solid rgba(250, 250, 250, 0.27);
    -webkit-box-shadow: 0 0 3px rgba(1, 1, 1, 0.7);
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
}
.main_content .intro_div {
    float: left;
    width: 827px;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 0.5em;
}
.main_content h2 {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: #333;
    margin-bottom: 10px;
    padding: 10px 2%;
    background: url(../img/gauze.png) #ececec;
    text-shadow: 0 1px 0 #fff;
}

.main_content .section {
    margin-top: 15px;
    margin-left: 22px;
}

.main_content .resources_div {
    margin: 20px 0px 0px 20px;
    float: right;
    width: 380px;
    height: 369px;
}

.main_content .resources_div ul li {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    line-height: 20px;
    list-style-type: none;
    background: url('img/bullet.png') no-repeat 0 10px;
}

.main_content .resources_div a {
    color: #b24926;
}

/* Demo图片 */
.brief-look {
    float: left;
    width: 100%;
}

.demo-pic li {
    float: left;
    margin: 10px 60px 0px 30px;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
    font-weight: bold;
}
.demo-pic img {
    width: 200px;
    height: 130px;
    border: 2px solid white;
}
.demo-pic img:hover {
    border: 2px solid #ecd10f;
}
/* 首页 --- 结束*/

/* api/demo 展示 开始*/
.content {
    background-color: white;
    min-height: 500px;
}
.content .clear {
    clear: both;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
.content .hentry {
    padding: 10px 20px;
    margin: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #eee;
    position: relative;
}
.content .entry-title a {
    font-size: 20px;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
    color: #0769ad;
}

.content .category {
    padding: 4px;
    background-color: #ddd;
    border-radius: 5px;
}

.content .entry-meta {
    float: right;
    color: #999;
    font-size: 12px;
}

.content .entry-meta .category a {
    color: #888;
    text-decoration: none;
}

/* 工具栏 */
.jtopo_toolbar {
    box-sizing: border-box;
    padding-left: 20px;
    background-color: rgb(216, 231, 242);
    /*width: 1400px;*/
    /* height: 35px; */
    padding-top: 7px;
    padding-bottom: 10px;
}

.contextmenu {
    border: 1px solid #aaa;
    border-bottom: 0;
    background: #eee;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contextmenu li {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

.contextmenu li:hover {
    background: #fff;
}

#logindiv {
    border: 1px solid #aaa;
    border-bottom: 0;
    background: #eee;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

#logindiv li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

#logindiv li a:hover {
    background: #fff;
}

#equipmentinfo li span {
    color: #999;
}

#equipmentinfo li span:hover {
    background: #fff;
}

#UpdateInfo {
    border: 1px solid #aaa;
    border-bottom: 0;
    background: #eee;
    position: absolute;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    padding: 20px;
    display: none;
}
#UpdateInfo li {
    margin-top: 10px;
}

#UpdateInfo li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

#UpdateInfo li a:hover {
    background: #fff;
}

#canvas {
    /* height: calc(100vh - 45px); */
    height: 100vh;
    width: 100vw;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(68, 68, 68);
    cursor: default;
}
/* 配置界面 */
.img-list {
    display: flex;
    list-style: none;
    padding: 10px;
}
.img-list > li {
    margin: 0 30px;
    width: 80px;
    height: 80px;
    text-align: center;
}
.img-list > li:hover {
    margin-top: -5px;
}
.img-list > li:hover > img {
    opacity: 0.9;
}
.img-list > li > img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.img-list > li:hover {
    background-color: #eeeeee;
}
#configCanvas {
    height: 100vh;
    width: 100vw;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(68, 68, 68);
    cursor: default;
}
.config-t {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#copyNode {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
}
.nav-menu {
    display: flex;
    list-style: none;
    padding: 10px;
    margin-bottom: 0;
    background: #1079c1;
}

.nav-menu > li.active {
    box-shadow: none;
    background: #eeeeee;
    border-radius: 6px;
}
.nav-menu > li.active > a {
    color: #428bca;
}
.nav-menu > li > a {
    padding: 0 30px;
    display: block;
    height: 50px;
    line-height: 50px;
    outline: none;
    text-decoration: none;
    color: #e8d5d5;
    font-size: 16px;
}
.info-modal {
    position: absolute;
}
.info-modal-content {
    display: flex;
    overflow: hidden;
}
.info-modal h3 {
    font-size: 16px;
}
.info-modal-content > div {
    padding: 0 20px;
    border-left: 1px solid #ededed;
}
.info-modal-content > div:first-child {
    border-left: none;
}
.modify-info {
    padding-left: 0;
}
.modify-info li {
    display: flex;
    align-items: center;
    height: 36px;
}
.modify-info li span {
    width: 80px;
    margin-right: 10px;
    display: block;
    color: #999999;
}
.modify-info input {
    width: 160px;
}
.until-btn {
    margin-top: 10px;
}
