<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>scada</title>

    <link rel="stylesheet" type="text/css" href="../../Content/base.css">
    <link rel="stylesheet" href="../../Content/bootstrap.css">
    <link href="../../Content/jquery.snippet.min.css" rel="stylesheet">
    <style>
        canvas {
            width: 100%;
        }

        .jtopo_toolbar {
            width: 100%;
        }
    </style>


</head>

<body>
    <ul id="myTab" class="nav-menu">
        <li class="active">
            <a href="#home" data-toggle="tab">
                设备监控
            </a>
        </li>
        <li>
            <a href="#serverMonitor" data-toggle="tab">服务端监控</a>
        </li>
        <li>
            <a href="#locationMonitor" data-toggle="tab">货位监控</a>
        </li>
        <li>
            <a href="#div_config" tabindex="-1" data-toggle="tab">系统配置</a>
        </li>
        <li>
            <a href="#taskManage" tabindex="-1" data-toggle="tab">任务管理</a>
        </li>
        <li>
            <a href="#div_help" tabindex="-1" data-toggle="tab">帮助文档</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active" id="home">

            <div id="content">
                <canvas id="canvas"></canvas>
            </div>

            <section id="homeVue">

                <ul id="logindiv" style="display:none;">
                    <li>
                        <a>用户名</a>
                        <input id="loginName" class="form-control" />
                    </li>
                    <li>
                        <a>密码</a>
                        <input id="passWord" class="form-control" />
                    </li>
                    <li>
                        <button id="login_okText" class="btn btn-primary">确定</button>
                        <button id="login_cancelText" class="btn btn-default">取消</button>
                    </li>
                </ul>


                <section class=" panel panel-default info-modal " v-show="showEquipmentinfo" :style="{left:equipmentinfoXY[0]+'px',top:equipmentinfoXY[1]+'px'}">
                    <div class="panel-heading">站台号</div>
                    <div class="panel-body ">
                        <div class="info-modal-content">
                            <div>
                                <h3>当前信息</h3>
                                <ul class="modify-info">
                                    <li v-for="item in copyEquipmentinfo">
                                        <span> {{item.title}}:</span>
                                        <i>{{item.content}}</i>
                                    </li>
                                </ul>

                            </div>
                            <div style="width: 300px;">
                                <h3>修改信息</h3>
                                <ul class="modify-info">
                                    <li v-for="item in equipmentinfo">
                                        <span> {{item.title}}:</span>
                                        <input type="text" class="form-control" v-model="item.content">
                                    </li>
                                </ul>

                            </div>
                            <div style="width: 120px">
                                <h3>功能按钮</h3>
                                <div>
                                    <button class="btn btn-primary" @click="changeEquipmentinfo">确定修改</button>
                                    <button class="btn btn-primary until-btn " v-for="item in equipmentinfo">一键清除</button>
                                </div>
                            </div>
                        </div>
                        <div class="info-modal-alert">
                            <h5>设备报警</h5>
                            <div>无</div>
                        </div>
                    </div>

                </section>
            </section>






        </div>
        <div class="tab-pane " id="serverMonitor">
            <canvas id="canvasServer" style="background-color: rgb(238, 238, 238); border: 1px solid rgb(68, 68, 68); cursor: default;"></canvas>
            <div class="snippet-container" style="margin-top:3px;;">
                <div class="sh_acid snippet-wrap" style="display: none;">
                    <div class="snippet-menu sh_sourceCode" style="display:none;">
                        <pre><a class="snippet-copy sh_url" href="#" style="display: none;">copy</a><a class="snippet-text sh_url" href="#">text</a><a class="snippet-window sh_url" href="#">pop-up</a></pre>
                    </div>

                    <pre class="snippet-textonly sh_sourceCode" style="display:none;">					
	                            </pre>
                    <div class="sh_sourceCode snippet-hide">
                        <pre><a href="#" class="snippet-revealed snippet-toggle sh_url">Collapse Code</a></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane " id="locationMonitor">
            <p>
                显示货位监控
            </p>
        </div>
        <!-- 配置界面开始 -->
        <div class="tab-pane " id="div_config">
            <section class="config-t" id="configVue">
                <ul class="img-list" id="createItem">
                    <li data-type="convery-t" @click="createNode('convery-t')">
                        <img src="../../Content/img/guntongHs.png" width="80px" alt="">
                    </li>
                    <li data-type="convery-v" @click="createNode('convery-v')">
                        <img src="../../Content/img/guntongSs.png" width="80px" alt="">
                    </li>
                    <li data-type="srm" @click="createNode('srm')">
                        <img src="../../Content/img/sc.png" width="80px" alt="">
                    </li>
                    <li data-type="robot" @click="createNode('robot')">
                        <img src="../../Content/img/robot.png" width="80px" alt="">
                    </li>
                </ul>

                <button class="btn btn-primary" id="commitConfig" @click="commit">提交配置</button>
                <!-- <div id="copyNode"></div> -->
                <ul id="configContextmenu" class="contextmenu" v-show="contextmenu" :style="{left:contextmenuXY[0]+'px',top:contextmenuXY[1]+'px'}">
                    <li class="input-group">
                        <input type="text" class="form-control" style="width: 100px " placeholder="输入新命名" v-model="rename">
                        <button class="btn btn-primary " @click="renameNode " style="margin-left:10px ">重命名</button>
                    </li>
                    <li class="input-group ">
                        <input type="number " class="form-control " style="width: 100px " placeholder="输入复制数量
                        " v-model="cloneNum ">
                        <button class="btn btn-primary " @click="clone " style="margin-left:10px ">复制</button>
                    </li>
                    <li @click="delNode">
                        删除
                    </li>
                </ul>
            </section>
            <section class="config-b">
                <canvas id="configCanvas"></canvas>
            </section>


        </div>
        <!-- 配置界面结束 -->
        <div class="tab-pane " id="div_help">
            <p>
                帮助页面
            </p>
        </div>
        <div class="tab-pane " id="taskManage"></div>
        <table class="table">
            <thead>
                <th></th>
                <th>WCS任务号</th>
                <th>WMS任务号</th>
                <th>执行设备 </th>
                <th>起始地址</th>
                <th>目标地址</th>
                <th>任务类型</th>
                <th>任务状态</th>
                <th>执行状态</th>
                <th>托盘号</th>
                <th>区域名称 </th>
                <th>创建时间</th>
                <th>更新时间</th>
            </thead>
            <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tbody>
        </table>
    </div>
    </div>
    <script type="text/javascript " src="../../Scripts/jquery-1.10.2.min.js "></script>
    <script src="../../Scripts/bootstrap.min.js "></script>
    <script src="../../Scripts/vue.dev2.0.js "></script>
    <script src="../../Scripts/jtopo-0.4.8-min.js "></script>
    <script src="../../Scripts/toolbar.js "></script>
    <script src="../../Scripts/page/config.js/"></script>
    <script src="../../Scripts/page/setting.js "></script>
    <script src="../../Scripts/DrapJtopo.js "></script>
</body>

</html>